/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #0d1117;
    color: #c9d1d9;
    overflow-y: hidden;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #161b22;
    color: #58a6ff;
  }
  
  .dashboard-layout {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    gap: 20px;
    padding: 20px;
    height: calc(96vh - 50px);
  }
  
  .left-panel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .right-panel {
    display: grid;
    gap: 15px;
  }
  
  .map-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
  }
  
  .map {
    flex: 1;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    border: 1px solid #30363d;
  }
  
  .below-map {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .card {
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 1;
    min-width: 200px;
  }
  
  .mission-timer {
    display: grid;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    background-color: #181a1f;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  
  .grid-item {
    background: #181a1f;
    padding: 10px;
    border-radius: 8px;
  }
  
  .timer-display {
    font-size: 24px;
    font-weight: bold;
  }
  
  .video-feed video {
    width: 100%;
    border-radius: 8px;
  }
  
  .video-controls button {
    background-color: #58a6ff;
    border: none;
    padding: 8px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .event-log {
    list-style: none;
    padding: 0;
  }
  
  .event-log .info {
    background-color: #181a1f;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
  }
  
  .info .time {
    font-weight: bold;
  }
  
  .info .highlight {
    color: #58a6ff;
  }
  
  .progress-bar-container {
    height: 10px;
    width: 100%;
    background-color: #444c56;
    border-radius: 5px;
  }
  
  .progress-bar {
    height: 100%;
    background-color: #58a6ff;
  }
  
  .card h3 {
    font-size: 18px;
    color: #58a6ff;
    margin-bottom: 10px;
  }
  
  .dashboard-list li {
    margin-bottom: 10px;
  }
  
  .dashboard-list span {
    font-weight: bold;
  }
  
  #latencyChart {
    width: 100%;
    height: 100%;
  }
  
  /* Button styles */
  button {
    padding: 10px 20px;
    background-color: #58a6ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #1f7e9b;
  }
  